<body>
	<div class="container-fluid">
	  <div class="row">
		<div class="col-sm-12 col-md-6 offset-md-3">
		  <img src="assets/avenger.jpeg" alt="" class="img-fluid">
		  <p class="text-center">Avengers
			Tous publics 2012 ‧ Aventure/Action ‧ 2h 23m</p>
		</div>
	  </div>
	</div>
  </body>
	  <style>
		body img {
  width: 10%;
  height: auto;
  display: block;
  margin: auto;
  border: 2px solid #333;
  box-shadow: 5px 5px 10px #333;
}

body p {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  margin: 10px 0;
}
	  </style>