<nav class="navbar fixed-top navbar-expand-lg navbar-dark p-md-3 bg-dark shadow">
	<div class="container">
		<a class="navbar-brand" href="#">TP2</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
			aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>

		<div class="collapse navbar-collapse">
			<div class="mx-auto"></div>
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" routerLink="accueil">Accueil</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="./list">Liste</a></li>
				<li class="nav-item"><a class="nav-link" routerLink="/gestion" (click)="showFormData()">Gestion</a></li>
			</ul>
		</div>
	</div>
</nav>