body img {
	width: 45%;
	height: auto;
	display: block;
	margin: auto;
	border: 2px solid #333;
	box-shadow: 5px 5px 10px #333;
}

body p {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
}