<div class="w-100 vh-100 d-flex justify-content-center align-items-center">
	<form [formGroup]="form" (ngSubmit)="onSubmit()">
		<div>
			<label>Prénom:</label>
			<input type="text" formControlName="firstName" required>
			<div *ngIf="form.get('firstName')!.invalid && form.get('firstName')!.touched">
				<p class="erreur"> Ce champ est obligatoire</p>
			</div>
		</div>
		<div>
			<label>Nom:</label>
			<input type="text" formControlName="lastName" required>
			<div *ngIf="form.get('lastName')!.invalid && form.get('lastName')!.touched">
				<p class="erreur"> Ce champ est obligatoire</p>
			</div>
		</div>
		<div>
			<label>Age:</label>
			<input type="number" formControlName="age" min="0" required>
			<div *ngIf="form.get('age')!.value =='' && form.get('age')!.touched ">
				<p class="erreur">Ce champ est obligatoire</p>
			</div>
			<div *ngIf="form.get('age')!.hasError('min') && form.get('age')!.touched">
				<p class="erreur">
					L'âge minimum est de 13 ans ! Puis quoi encore moi j'ai dû attendre mes 15 ans avant d'avoir un
					ordinateur !
				</p>
			</div>
			<div *ngIf="form.get('age')!.hasError('max') && form.get('age')!.touched">
				<p class="erreur">Kane Tanaka était officiellement reconnue comme l’actuelle doyenne de l’humanité. La
					Japonaise est morte le 19 avril à l’âge de 119 ans. Jusqu'a preuve du contraire tu n'es pas le
					nouveau doyen !</p>
			</div>
		</div>


		<div *ngIf="form.get('hideEmail')!.value == false || false">
			<label>Email:</label>
			<input type="email" formControlName="email">
			<div *ngIf="form.get('email')!.invalid && form.get('email')!.touched && form.get('email')!.value != ''">
				<p class="erreur">Hey l'adresse n'est pas valide, si tu en veux une va sur https://temp-mail.org/fr/</p>
			</div>
			<div *ngIf="form.get('email')!.value == ''&& form.get('email')!.touched ">
				<p class="erreur">Ce champ est obligatoire</p>
			</div>
		</div>

		<div>
			<label>Commentaire:</label>
			<textarea formControlName="comment"></textarea>
		</div>

		<div class="checkbox-container">
			<p class="checkbox-text">Je souhaite ne pas renseigner mon Email :</p>
			<input class="cbEmail" type="checkbox" formControlName="hideEmail">
		  </div>

		<button type="submit" [disabled]="form.invalid">Envoyer</button>
		<p *ngIf="submited==true">Ton formulaire a bien été envoyé ! Merci !</p>
	</form>
</div>