.container-fluid {
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 20px;
	text-align: center;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin: 0 -10px;
}

.col-sm-12,
.col-md-6 {
	width: 100%;
	max-width: 100%;
	padding: 0 10px;
}

@media (min-width: 576px) {
	.col-sm-12 {
		width: 50%;
		max-width: 50%;
	}
}

@media (min-width: 992px) {
	.col-md-6 {
		width: 50%;
		max-width: 50%;
	}
}

.listefilm {
	list-style-type: none;
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 0;
}

.listefilm li {
	margin: 10px;
	font-size: 18px;
	font-weight: bold;
}

.listefilm li a {
	color: #333;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

.listefilm li a:hover {
	color: #0069C0;
}

#divMain{
	height: 100vh;
}

body img {
	width: 45%;
	height: auto;
	display: block;
	margin: auto;
	border: 2px solid #333;
	box-shadow: 5px 5px 10px #333;
}

body p {
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	margin: 10px 0;
}