<body>

	<div class="w-100 vh-20 d-flex justify-content-center align-items-center" id="DivListe">

		<!-- NOMS FILMS -->
		<li *ngFor="let film of films" class="list-inline-item">
			<a (click)="selectedRoute = film.route" [class.selected]="selectedRoute === film.route" >{{ film.nom }}</a>
		  </li>
		  
		  

	</div>

	<!-- DESCRIPTIONS FILMS -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-12 col-md-6 offset-md-3">
				<ng-container *ngFor="let film of films">
					<img *ngIf="selectedRoute === film.route" [src]="film.img" alt="" class="img-fluid">
					<p *ngIf="selectedRoute === film.route">{{ film.description }}</p>
				</ng-container>
			</div>
		</div>
	</div>


</body>