
	<div class="page">
		<img src="assets/TheOfficeWebGif.gif" alt="Michael le boss" class="rounded mx-auto d-block">
	</div>
	  
	  <div class="wrap">
		<img src="assets/TheOfficeWebGif.gif" alt="Michael le boss" class="svg">
		<img src="assets/TheOfficeWebGif.gif" alt="Michael le boss" class="svg">
		<img src="assets/TheOfficeWebGif.gif" alt="Michael le boss" class="svg">
		<img src="assets/TheOfficeWebGif.gif" alt="Michael le boss" class="svg">
		<img src="assets/TheOfficeWebGif.gif" alt="Michael le boss" class="svg">
	  </div>
