	.form-group {
		padding: 20px;
		background-color: #0069C0;
		color: #fff;
	}

	div {
		text-align: center;

	}

	.form-control-plaintext {
		margin-bottom: 20px;
	}

	.alert {
		padding: 20px;
		margin-top: 20px;
	}

	.alert-danger {
		background-color: #D32F2F;
		color: #fff;
	}